/* Overall dashboard container */
.dashboard {
    display: flex;
    height: 100vh; 
  }
  
  /* Sidebar */
  .sidebar {
    flex: 0 0 250px; 
    background-color: #0033a0;
    color: white;
    height: 100%;
    position: fixed; 
    overflow: hidden;
  }
  
  /* Main content of the dashboard */
  .dashboard-content {
    margin-left: 250px; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    overflow: hidden; 
  }
  
  /* Section containing projects and tasks */
  .projects-and-tasks {
    display: flex;
    flex: 1;
    gap: 20px;
    overflow: hidden; 
  }
  
